<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-[80px] pl-[20px] w-full flex items-center bg-[#F5F2F2]">
        <div class="flex-start w-1/2 text-2xl">Admin Panel.</div>
        <div class="w-1/2 flex justify-center gap-10">

            <div class="flex gap-3">
                <a class="ml-[20px]" href="">Home</a>
                <a class="ml-[20px]" href="">Product</a>

            </div>
            <div class="flex-end gap-3">
                <a class="ml-[20px]" href="">cart</a>
                <a class="ml-[20px] tracking-tighter" href="">My Account</a>
            </div>
        </div>
    </div>
    <h1 class="h-[1px] bg-zinc-900 w-full"></h1>
    