<%- include('./partials/header') %>

<div class="w-full h-screen flex flex-wrap justify-center align-center bg-[#F5F2F2]">
    
        <p class="absolute text-xl mr-[78%] mt-2">Scatch</p>
    <!-- <p class="absolute w-[300px] h-30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed qui esse enim minima reprehenderit fugiat assumenda, nam consequatur ipsam ea q.</p> -->
    
    <div class="w-2/3 flex flex-wrap justify-center items-center">
        <div class="bg-[#CEE9E9] w-2/3 flex flex-wrap justify-center items-center">

            <div class="w-full h-screen p-5 flex flex-col justify-center items-center">
                
                <h1 class="text-3xl">Welcome to <span class="text-blue-500 font-semibold ">Scatch</span> </h1>
                <p class="text-2xl">create your account</p>
                <form action="" class="grid w-2/3 p-5">
                    <input class="px-3 py-2 mt-2 text-[#445F5F] rounded-md border-none transparent" type="text" value="Full Name" placeholder="Full Name">
                    <input class="px-3 py-2 mt-2 text-[#445F5F] rounded-md border-none transparent" type="text" value="Email" placeholder="Email">
                    <input class="px-3 py-2 mt-2 text-[#445F5F] rounded-md border-none transparent" type="text" value="Password"nplaceholder="Password">
                    <input class="px-3 py-2 bg-blue-500 my-3 w-1/2 rounded-[100px] text-center " type="text" value="Create My Account">
                </form>
            </div>
        </div>
    </div>
    
    <div class="absolute mt-[130px] ml-[170px] pt-60 px-10">
        <p class="bg-blue-500  px-4 py-3 text-center rounded-[360px]">or</p>
    </div>
    <div class="w-1/3 flex justify-start items-center">
        <div class="w-2/3">

            <h1 class="text-3xl">Login your account</h1>
            <form action="" class="grid">
                <input class="px-3 py-2 mt-3 text-[#445F5F] rounded-md border-none transparent" type="text" value="Email" placeholder="Email">
                <input class="px-3 py-2 mt-3 text-[#445F5F] rounded-md border-none transparent" type="text" value="Password"nplaceholder="Password">
                <input class="px-3 py-2 bg-blue-500 my-3 w-1/2 rounded-[100px] text-center " type="text" value="Create My Account">
            </form>
        </div>
        
    </div>
</div>

<%- include('./partials/footer') %>