<%- include('./partials/header') %>
    <div class="flex min-h-screen font-italic">
        <div class="flex-col w-1/4 mx-5">
            <div class="flex-col mx-5 my-5 ">

                <label class="text-2xl font-semibold">Sort By:</label>
                <select name="popular" id="popular" class="absolute ml-4 border-2 px-2 py-1 rounded-md">
                    <option value="">price</option>
                    <option value="">rating</option>

                </select>

                <div class="w-full py-[20px] flex flex-col justify-center align-center py-5 min-h-[200px]">
                    <!-- <div class="w-full flex-col items-center"> -->

                    <a class="text-[#AC8A80]" href="">New Collection</a>
                    <a class="block" href="">All Products</a>
                    <a class="text-[#AC8A80] " href="">Discounted Products</a>
                    <!-- </div> -->

                </div>
            </div>
            <div class="mx-5 min-h-[30vh] flex flex-col justify-end ">
                <div>
                    <p>Filter by:</p>
                    <p>Availability</p>
                    <p class="text-[#AC8A80] ">Discount</p>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap h-[400px]">
            <div class="ml-5 mt-4 mb-6 p-3 flex flex-col ">
                <div class="bg-[#E3B4A3] h-[270px] w-[250px] rounded-[2px] flex items-center justify-center">
                    <img class="h-[250px] object-contain" src="./images/backpack.png" alt="">
                </div>
                <div class="bg-[#CE7D5F] h-[100px] w-[250px] rounded-[2px] px-3  flex align-center ">
                    <div class="flex justify-center items-center">
                        <div class="flex-start ml-3 ">

                            <p>Clinge Bag</p>
                            <p>₹ 1200</p>
                        </div>
                        <div class="flex-end">
                            <div class="ml-[80px]">

                                <p class="plus p-1"><img class="h-10 " src="./images/plus.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-5 mt-4 mb-6 p-3 flex flex-col ">
                <div class="bg-[#E3B4A3] h-[270px] w-[250px] rounded-[2px] flex items-center justify-center">
                    <img class="h-[250px] object-contain" src="./images/backpack.png" alt="">
                </div>
                <div class="bg-[#CE7D5F] h-[100px] w-[250px] rounded-[2px] px-3  flex align-center ">
                    <div class="flex justify-center items-center">
                        <div class="flex-start ml-3 ">

                            <p>Clinge Bag</p>
                            <p>₹ 1200</p>
                        </div>
                        <div class="flex-end">
                            <div class="ml-[80px]">

                                <p class="plus p-1"><img class="h-10 " src="./images/plus.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-5 mt-4 mb-6 p-3 flex flex-col ">
                <div class="bg-[#E3B4A3] h-[270px] w-[250px] rounded-[2px] flex items-center justify-center">
                    <img class="h-[250px] object-contain" src="./images/backpack.png" alt="">
                </div>
                <div class="bg-[#CE7D5F] h-[100px] w-[250px] rounded-[2px] px-3  flex align-center ">
                    <div class="flex justify-center items-center">
                        <div class="flex-start ml-3 ">

                            <p>Clinge Bag</p>
                            <p>₹ 1200</p>
                        </div>
                        <div class="flex-end">
                            <div class="ml-[80px]">

                                <p class="plus p-1"><img class="h-10 " src="./images/plus.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-5 mt-4 mb-6 p-3 flex flex-col ">
                <div class="bg-[#E3B4A3] h-[270px] w-[250px] rounded-[2px] flex items-center justify-center">
                    <img class="h-[250px] object-contain" src="./images/backpack.png" alt="">
                </div>
                <div class="bg-[#CE7D5F] h-[100px] w-[250px] rounded-[2px] px-3  flex align-center ">
                    <div class="flex justify-center items-center">
                        <div class="flex-start ml-3 ">

                            <p>Clinge Bag</p>
                            <p>₹ 1200</p>
                        </div>
                        <div class="flex-end">
                            <div class="ml-[80px]">

                                <p class="plus p-1"><img class="h-10 " src="./images/plus.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-5 mt-4 mb-6 p-3 flex flex-col ">
                <div class="bg-[#E3B4A3] h-[270px] w-[250px] rounded-[2px] flex items-center justify-center">
                    <img class="h-[250px] object-contain" src="./images/backpack.png" alt="">
                </div>
                <div class="bg-[#CE7D5F] h-[100px] w-[250px] rounded-[2px] px-3  flex align-center ">
                    <div class="flex justify-center items-center">
                        <div class="flex-start ml-3 ">

                            <p>Clinge Bag</p>
                            <p>₹ 1200</p>
                        </div>
                        <div class="flex-end">
                            <div class="ml-[80px]">

                                <p class="plus p-1"><img class="h-10 " src="./images/plus.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-5 mt-4 mb-6 p-3 flex flex-col ">
                <div class="bg-[#E3B4A3] h-[270px] w-[250px] rounded-[2px] flex items-center justify-center">
                    <img class="h-[250px] object-contain" src="./images/backpack.png" alt="">
                </div>
                <div class="bg-[#CE7D5F] h-[100px] w-[250px] rounded-[2px] px-3  flex align-center ">
                    <div class="flex justify-center items-center">
                        <div class="flex-start ml-3 ">

                            <p>Clinge Bag</p>
                            <p>₹ 1200</p>
                        </div>
                        <div class="flex-end">
                            <div class="ml-[80px]">

                                <p class="plus p-1"><img class="h-10 " src="./images/plus.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-5 mt-4 mb-6 p-3 flex flex-col ">
                <div class="bg-[#E3B4A3] h-[270px] w-[250px] rounded-[2px] flex items-center justify-center">
                    <img class="h-[250px] object-contain" src="./images/backpack.png" alt="">
                </div>
                <div class="bg-[#CE7D5F] h-[100px] w-[250px] rounded-[2px] px-3  flex align-center ">
                    <div class="flex justify-center items-center">
                        <div class="flex-start ml-3 ">

                            <p>Clinge Bag</p>
                            <p>₹ 1200</p>
                        </div>
                        <div class="flex-end">
                            <div class="ml-[80px]">

                                <p class="plus p-1"><img class="h-10 " src="./images/plus.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-5 mt-4 mb-6 p-3 flex flex-col ">
                <div class="bg-[#E3B4A3] h-[270px] w-[250px] rounded-[2px] flex items-center justify-center">
                    <img class="h-[250px] object-contain" src="./images/backpack.png" alt="">
                </div>
                <div class="bg-[#CE7D5F] h-[100px] w-[250px] rounded-[2px] px-3  flex align-center ">
                    <div class="flex justify-center items-center">
                        <div class="flex-start ml-3 ">

                            <p>Clinge Bag</p>
                            <p>₹ 1200</p>
                        </div>
                        <div class="flex-end">
                            <div class="ml-[80px]">

                                <p class="plus p-1"><img class="h-10 " src="./images/plus.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <%- include('./partials/footer') %>